<%- include('./partials/header') %>
<div id="welcome">
  <div>Welcome to </div>
  <div>dish of the day</div>
  <div class="welcome-text">You can publish your dish and consumers will order them setting a pick-up time</div>
  <div class="welcome-text">Anybody can order dishes</div>
</div>
  </body>
</html>
